<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shared Robotaxi</title>
    <link type="text/css" rel="stylesheet" href="/static/index.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/index.js"></script>

</head>
<body>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <input id="sample_upload" type="file" name="sample_upload" multiple="true" /><br>
    <input type="button" id="start_record" name="start_record" value="Start record">
    <input type="button" id="stop_record" name="stop_record" value="Stop record"><br>
    <input type="button" id="enroll" value="Submit">
</body>
</html>