body,html {
    margin: 0px;
    padding: 0px;
}
#enroll_form{
    display: inline-block;
    width: 25%;
    margin: 15px;
}

#upload_sample, #record_sample{
    display: inline-block;
    width: 45%;
    margin-bottom: 5px;
}

#upload_sample{
    float: left;
}

#record_sample{
    float: right;
}