#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: center;
    justify-content: space-evenly;
}

#content a{
    text-decoration: none;
    color: black;
    width: 40%;
}