.user{
    margin: 5px;
    border: solid 1px black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    font-size: 22px;
    width: 40%;
    cursor: pointer;
}

.user_icon{
    margin: 10px;
    height: 245px;
    max-height: 95%;
}

.user_info{
    padding: 15px;
}

.user_info li{
    padding: 10px;
}
