<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/style/template.css">
    <link type="text/css" rel="stylesheet" href="/static/style/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Shared Robotaxi</title>
</head>

<body>
    <div id="container">
        <aside id="menu">
            {% include 'components/menu.html' %}
        </aside>
        <section id="content">
            {% for user in users %}
                {% with u = user %}
                    <a href="/details?fname={{ u[0] }}&lname={{ u[1] }}&lastActivity={{ u[2] }}">{% include 'components/user.html' %}</a>
                {%  endwith %}
            {% endfor %}
        </section>
    </div>
</body>
</html>