<link type="text/css" rel="stylesheet" href="/static/style/registration.css">
<script src="/static/scripts/enroll.js"></script>

<div id="form">
    <span class="title">Register user</span>
    <input class="textbox" type="text" id="fname" name="fname" placeholder="Name">
    <input class="textbox" type="text" id="lname" name="lname" placeholder="Surname">
    <div id="button_area">
        <input class="button" type="button" id="upload" value="Upload and Register">
        <input type="file" id="sample_picker" multiple/>
        <input class="button" type="button" id="record" value="Record and Register">
    </div>
</div>
